.container-new-pet {
    background-color: #538d22; 
    border: 1px solid #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 2rem;
    width: 55%;
    margin: 0 auto; 
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}

.form-new-pet {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.input-label{
    font-size: 1.5rem;
}