.container-new-user {
    background-color: #538d22; 
    border: 1px solid #000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 2rem;
    width: 30%;
    margin: 0 auto; 
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}

.custom-title{
    color: white;
}